h1{
    margin:30px opx;
    text-align:center;

}
.img-box{
    border:2px solid red;
    width: 200px;
    margin:0px auto;
}
.img-box img{
    width:100%;
}
.text-box{
    font-size: 100px;
    border: 1px solid red;
    width: 400px;
    margin: 40px auto;
    text-align:center;
}