*{
    margin: 0px;
    padding: opx;
    box-sizing: border-box;
}


div{
    background-color: aqua;
    padding:10px,20px;
    border: 4px solid black;
    outline: 5px solid yellow;
    margin-bottom: 30px;
    width: 250px;
    margin: 30px;
    padding: 20px;
    
}