div{
    width: 200px;
    height: 200px;
    margin-bottom: 20px;
}

.translate{
    background-color: blue;
    /* transform: translateX(-20px); */
    transform: translateY(-20px);
}
.rotate{
    background-color: yellow;
    transform: rotate(270deg);
    transition: all 2s;
}

.skew:hover{
    background-color: brown;
    transform: matrix(1,2,-1,1,80,80);
}
.scale{
    background-color: cadetblue;
    transform: scale(2,2);
    transition: all 2s;
}